{{#extends "base"}}

{{#block "title"}}Create New Student{{/block}}

{{#block "content"}}

<h1>Create New Student</h1>
<form method="POST">
    <div class="mb-3">
        <label>First Name</label>
        <input type="text" class="form-control" name="first_name"/>
    </div>
    <div class="mb-3">
        <label>Last Name</label>
        <input type="text" class="form-control" name="last_name"/>
    </div>
    <div class="mb-3">
        <label>Date of Birth</label>
        <input type="date" class="form-control" name="date_of_birth"/>
    </div>
    <div class="mb-3">
        <label>Music Tutor Level</label>
        <select name="tutor_id" class="form-control">
            {{#each tutors}}
            <option value="{{tutor_id}}">{{name_of_qualification}}</option>
            {{/each}}
        </select>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
{{/block}}

{{/extends}}